.listy-text
{
    line-height: 20px;
    min-height: 25px;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    width: inherit;
    background-color: white;
    border: 1px solid #BFBFBF;
    -moz-box-shadow:    inset 0px 1px 0px 0px #808080;
    -webkit-box-shadow: inset 0px 1px 0px 0px #808080;
    box-shadow:         inset 0px 1px 0px 0px #808080;
}
.listy-outline
{
    border: 1px solid #969696;
}
.listy-text li
{
    float: left;
    line-height: 18px;
}
.listy-text li input
{
    color: black;
    border: none 0px;
    padding-left: 2px;
    padding-bottom: 3px;
    outline: none;
    background:none;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.listy-text li input:focus
{
    outline:0;
    border-color: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.del-highlight {
    background: whiteSmoke;
}
.listy-text div.item
{
    border: 1px solid #ccc;
    margin: 3px 2px;
    padding: 0px 4px 0px 4px;
    height: 90%;
    position: relative;
}
.listy-text div.item a
{
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
    filter: alpha(opacity=20);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
}
.listy-text div.item a:hover
{
color: black;
text-decoration: none;
cursor: pointer;
opacity: 0.4;
filter: alpha(opacity=40);
}