.listy-text
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 30%;
    height: 24px;
    background-color: white;
    border: 1px solid #BFBFBF;
    -moz-box-shadow:    inset 0px 1px 0px 0px #808080;
    -webkit-box-shadow: inset 0px 1px 0px 0px #808080;
    box-shadow:         inset 0px 1px 0px 0px #808080;
}
.listy-text li
{
    float: left;
}
.listy-text li input
{
    border: none 0px;
    width: auto;
    padding-left: 2px;
    outline: none;
    background:none;
    font-family: inherit;
    font-size: inherit;
}
.listy-text div.item
{
    border: 1px solid #ccc;
    margin: 2px;
    padding: 0px 0px 0px 4px;
}
.listy-text div.item span
{
    display: inline-block;
}
.listy-text div.item a
{
    color: black;
    margin: 3px;
    padding: 0px 3px 0px 3px;
    text-decoration: none;
}
.listy-text div.item a:hover
{
    color: red;
}